.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.foodContainer {
    background: rgb(225, 225, 225);
    width: 215px;
    height: 235px;
    border: 2px solid black;
    margin: 10px;
}

.food {
    background: rgb(225, 225, 225, .7);
}